{% extends "capstone/layout.html" %}

{% block body %}
<div id="favorites">
    <h2>{{ user.username }}'s Favorites</h2>

    {% for favorite in favorites %}

        <h2>{{ favorite.title }}</h2>
        {% if favorite.image_url %}
            <p><img src="{{ favorite.image_url }}" style="width:400px; height:400px;"></p>
        {% endif %}

        <p>{{ favorite.description }}</p>

    {% empty %}
        <p>No Favorites yet.</p>
    {% endfor %}

</div>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h2>Watchlist for {{ user.username }}</h2>
    {% csrf_token %}

    <ul>
    {% for watch in watch_list %}
        <li><a href="{% url 'listing_page' watch.item.id %}">{{ watch.item.title }}</a></li>
    {% empty %}
        <li>No Listings in Watchlist.</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}