{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
{% block nav %}{% endblock nav %}
{% include 'capstone/topnavbar.html' %}

{% if user.is_authenticated %}

<h3 style="margin:10px;">Favorites for {{ user.username }}</h3>

<div id="favorites">
    {% csrf_token %}
    <p id="message"></p>
    {% for favorite in favorites %}

        <h4>{{ favorite.item.title }}</h4>
        {% if favorite.item.image_url %}
            <p><img src="{{ favorite.item.image_url }}" style="width:400px; height:400px;"></p>
        {% endif %}

        <p>{{ favorite.item.description }}</p>
        <p id="remFavor" onclick="remFavorite('{{ favorite.item.id }}')">Click Here to Remove from Favorites <img src="static/capstone/open-heart.png" style="width:20px; height:20px;"></p>
        <br><br>
    {% empty %}
        <p>No Favorites yet.</p>
    {% endfor %}

</div>
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'capstone/index.js' %}"></script>

{% endblock %}