{% extends "capstone/layout.html" %}

{% block body %}
{% block nav %}
{% endblock %}

<div class="topnav" id="myTopnav">
    <a href="{% url 'index' %}" class="active"><img src="static/capstone/favicon.ico"
        style="width:30px; height:30px; margin-right:10px;">Rome Travel</a>

    <a href="{% url 'places' %}">Map of Rome</a>
    {% if user.is_authenticated %}
    <a href="{% url 'favorites' %}">Favorites</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>

{% if user.is_authenticated %}

<h3 style="margin:10px;">Favorites for {{ user.username }}</h3>
<!--<h2 style="color:black; margin:10px;">Favorites for {{ user.username }}</h2>-->
<div id="favorites">
    {% csrf_token %}

    {% for favorite in favorites %}

        <h4>{{ favorite.item.title }}</h4>
        {% if favorite.item.image_url %}
            <p><img src="{{ favorite.item.image_url }}" style="width:400px; height:400px;"></p>
        {% endif %}

        <p>{{ favorite.item.description }}</p>
        <p>Click to remove from Favorites<img src="static/capstone/red-heart.png" style="width:20px; height:20px;"></p>
        <p><img src="static/capstone/open-heart.png" style="width:20px; height:20px;">Click to remove</p>
        <br><br>
    {% empty %}
        <p>No Favorites yet.</p>
    {% endfor %}

</div>
{% endif %}

<!-- code for react -->
<div id="form"></div>
<script src="static/capstone/form.js" type="text/babel"></script>
<div id="app">
</div>
<!--<script type="text/babel">
    function App() {
        const [count, setCount] = React.useState(0);

        function updateCount() {
            setCount(count + 1);
        }
        return (
            <div>
                <div>{count}</div>
                <button onClick={updateCount}>Count</button>
            </div>
        );
    }

    ReactDOM.render(<App />, document.querySelector("#app"));
</script>-->
<script type="text/babel">
    function App() {
        const [state, setState] = React.useState({
            num1: 1,
            num2: 2,
            response: "",
            score: 0,
            incorrect: false
        });

        function inputKeyPress(event) {
            console.log(event.target)
            if (event.key === "Enter") {
                const answer = parseInt(state.response);
                if (state.num1 + state.num2 === answer) {
                    setState({
                        ...state,
                        num1: Math.ceil(Math.random() * 10),
                        num2: Math.ceil(Math.random() * 10),
                        score: state.score + 1,
                        response: "",
                        incorrect: false
                    });
                } else {
                    setState({
                        ...state,
                        score: state.score - 1,
                        response: "",
                        incorrect: true
                    });
                }

            }
        }
        function updateResponse(event) {
            setState({
                ...state,
                response: event.target.value
            })
        }
        if (state.score === 10) {
            return (
                <div id="winner">
                    You won!
                </div>
            );
        }
        return (
            <div>
                <div className={state.incorrect ? "incorrect" : ""} id="problem">{state.num1} + {state.num2}</div>
                <input onKeyPress={inputKeyPress} onChange={updateResponse} value={state.response} />
                <div>Score: {state.score}</div>
            </div>
        )
    }
    ReactDOM.render(<App />, document.querySelector("#app"));
</script>
{% endblock %}

