{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
    <div class="navClass">
        <div class="container">
            <div class="tab" id="navbar">
                <button class="tablinks" onclick="openCity(event, 'Home')" id="defaultOpen">Rome Travel</button>
                <button class="tablinks" onclick="openCity(event, 'Destinations')">Where To Go</button>
                <button class="tablinks" onclick="openCity(event, 'Food')">Places to Eat</button>
                <button class="tablinks" onclick="openCity(event, 'Map-of-rome')">Map of Rome</button>

                {% if user.is_authenticated %}
                <button class="tablinks" onclick="openCity(event, 'Favorites')">Favorites</button>
                <button class="tablinks" onclick="openCity(event, 'Logout')">Logout</button>
                {% else %}
                <button class="tablinks" onclick="openCity(event, 'Login')">Login</button>
                <button class="tablinks" onclick="openCity(event, 'Register')">Register</button>
                {% endif %}
            </div>

            <div id="Home"></div>
            <div id="Destinations" class="tabcontent">
                <h3>Where To Go</h3>
                <p>There are many wonderful <a href="#nav-pics">places</a>to go.</p>
            </div>
            <div id="Food" class="tabcontent">
                <h3>Places to Eat</h3>
                <p>Italy is famous for its restaurants.</p>
            </div>
            <div id="Map-of-rome" class="tabcontent">
                <h3>Map of Rome</h3>
                <p>There are many wonderful places to go. <a href="{% url 'places' %}">Map of Rome</a></p>
            </div>

            {% if user.is_authenticated %}
            <div id="Favorites" class="tabcontent">
                <h3>Favorites</h3>
                <p>Save your favorites to help plan your trip.</p>
            </div>
            <div id="Logout" class="tabcontent">
                <h3>Logout</h3>
                <p><a href="{% url 'logout' %}">Please Logout here.</a></p>
            </div>
            {% else %}
            <div id="Login" class="tabcontent">
                <h3>Login</h3>
                <p><a href="{% url 'login' %}">Please Login here.</a></p>
            </div>
            <div id="Register" class="tabcontent">
                <h3>Register</h3>
                <p><a href="{% url 'register' %}">Please Register here.</a></p>
            </div>
            {% endif %}
        </div>
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>

        <script>
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add('sticky')
                } else {
                    navbar.classList.remove('sticky');
                }
            }
        </script>
    </div>

    <div id="showImgs">
        <div class="img1"></div>
        <!--<h4 id="page-name" style="margin:10px; display:inline-block;">Travel</h4>-->
        <div style="position:relative;">
            <div style="color: #777; background-color:white; text-align:center; padding: 50px 80px; text-align:justify;">
                <h3 style="text-align:center;">Parallax Demo</h3>
                <p>Parallax scrolling is a web site trend where the background content is moved at a different speed.</p>
            </div>
        </div>

        <div class="img2">
            <!--<img src="{% static 'capstone/rome-street.jpg' %}" width="100%" height="400px" alt="Rome street">-->
            <div class="caption">
                <span class="border" style="background-color:transparent; font-size:25px; color:#f7f7f7;">ROME CITISCAPE</span>
            </div>
        </div>

        <div style="position:relative;">
            <div style="color:#ddd; background-color:#282E34; text-align:center; padding:50px 80px; text-align:justify;">
                <p>Scroll up and down to really get the feeling of how Parallax scrolling works.</p>
            </div>
        </div>

        <div class="img3">
            <!--<img src="{% static 'capstone/view-from-pincio-park.jpg' %}" width="100%" height="400px" alt="Rome view from Pincio Park">-->
            <div class="caption">
                <span class="border" style="background-color:transparent; font-size:25px; color:#f7f7f7;">VIEW FROM PINCIO PARK</span>
            </div>
        </div>

        <div style="position:relative;">
            <div style="color:#ddd; background-color:#282E34; text-align:center; padding:50px 80px; text-align:justify;">
                <p>Scroll up and down to really get how Parallax works.</p>
            </div>
        </div>
    </div>

    <div id="top-site" name="top-site">
        <a href="#" id="sitefocus" tabindex="-1"></a>
        <div id="siteName"></div>
        <div id="sites" class="sites"></div>
    </div>

    <div id="banner">
        <div style="color:black; background-color:white; font-size:30px; text-align:center; padding:30px 80px; text-align:justify;">
            <p>Things to do and see.</p>
        </div>
    </div>
    <div class="navigation-pics" id="nav-pics" style="box-sizing:border-box;">
        <div class="row">
            <div class="column">
                <div class="pic-container" id="Attractions" onclick="load_site('Attractions')">
                    <img src="static/capstone/fontana-di-trevi.jpg" style="width:100%; height:275px">
                    <div class="text-block">
                        <h5>Attractions</h5>
                    </div>
                </div>
                <div class="pic-container" id="food" onclick="load_site('Food and Wine')">
                    <img src="static/capstone/cafe-in-rome.jpg" style="width:100%; height:225px">
                    <div class="text-block">
                        <h5>Food and Wine</h5>
                    </div>
                </div>
                <div class="pic-container" id="churchs" onclick="load_site('Churches')">
                    <img src="static/capstone/santa-catarina-dei-funari-spandrel.jpg" style="width:100%; height:245px">
                    <div class="text-block">
                        <h5>Churches</h5>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="pic-container" id="gelaterie" onclick="load_site('Gelaterie')">
                    <img src="static/capstone/two-gelati.jpg" style="width:100%; height:175px">
                    <div class="text-block">
                        <h5>Gelaterie</h5>
                    </div>
                </div>
                <div class="pic-container" id="markets" onclick="load_site('Markets')">
                    <img src="static/capstone/campo-dei-fiori2.jpg" style="width:100%; height:250px">
                    <div class="text-block">
                        <h5>Markets</h5>
                    </div>
                </div>
                <div class="pic-container" id="ancientrome" onclick="load_site('Ancient Rome')">
                    <img src="static/capstone/pantheon-square.jpg" style="width:100%; height:320px">
                    <div class="text-block">
                        <h5>Ancient Rome</h5>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="pic-container" id="museums" onclick="load_site('Museums')">
                    <img src="static/capstone/vatican-museum-rome.jpg" style="width:100%; height:270px">
                    <div class="text-block">
                        <h5>Museums</h5>
                    </div>
                </div>
                <div class="pic-container" id="parks" onclick="load_site('Parks')">
                    <img src="static/capstone/rapids-tiber.jpg" style="width:100%; height:275px">
                    <div class="text-block">
                        <h5>Parks</h5>
                    </div>
                </div>
                <div class="pic-container" id="shopping" onclick="load_site('Shopping')">
                    <img src="static/capstone/more-guanti.jpg" style="width:100%; height:200px">
                    <div class="text-block">
                        <h5>Shopping</h5>
                    </div>
                </div>

        </div>
    </div>

    <!-- code for react -->
    <div id="app">
    </div>
    <script type="text/babel">
        function App() {
            return (
                <div>
                    <div id="hello">
                        Hello, Travellers!
                    </div>
                </div>
            );
        }

        ReactDOM.render(<App />, document.querySelector("#app"));
    </script>
    <div id="newPage">

        <p>Here is a new page</p>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'capstone/index.js' %}"></script>
{% endblock %}