{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'capstone/styles.css' %}" rel="stylesheet" type="text/css"/>

    <!-- needed for Mapbox gl -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

    <!-- needed for React -->
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}Travel Planner{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/capstone/favicon.ico">

    {% block script %}
        <script src="{% static 'capstone/index.js' %}"></script>
    {% endblock %}
</head>

<body>
{% block nav %}
    <div class="navClass">
        <div class="container">
            <div class="tab" id="navbar">
                <button class="tablinks" id="defaultOpen"><a href="{% url 'index' %}"><img src="static/capstone/favicon.ico"
                    style="width:30px; height:30px; margin-right:10px;">Rome Travel</a></button>
                <button class="tablinks" onclick="openCity(event, 'Destinations')">Where To Go</button>
                <button class="tablinks" onclick="openCity(event, 'Food')">Places to Eat</button>
                <button class="tablinks"><a href="{% url 'places' %}">Map of Rome</a></button>

                <!--{% if user.is_authenticated %} -->

                <button class="tablinks"><a href="{% url 'quiz' %}">Quiz</a></button>
                <button class="tablinks" onclick="load_site('favorites')">Favorites</button>
                <!--<button class="tablinks" onclick="openCity(event, 'Logout')">Logout</button>
                {% else %}
                <button class="tablinks" onclick="openCity(event, 'Login')">Login</button>
                <button class="tablinks" onclick="openCity(event, 'Register')">Register</button>
                {% endif %}-->
            </div>

            <div id="Destinations" class="tabcontent">
                <h3>Where To Go</h3>
                <p><a href="#nav-pics">Attractions, </a><a href="#churches">Churches, </a><a href="#ancientrome">Ancient Rome, </a><a href="#museums">Museums, </a><a href="#parks">Parks, </a><a href="#shopping">and Shopping. </a></p>
            </div>
            <div id="Food" class="tabcontent">
                <h3>Places to Eat</h3>
                <p>Italy is famous for its <a href="#food">Food and Caffes, </a><a href="#gelaterie">Gelaterie, </a><a href="#markets">and Markets.</a></p>
            </div>

            <div id="Map-of-rome" class="tabcontent">
                <h3>Map of Rome</h3>
                <p>See where to visit in Rome. <a href="{% url 'places' %}">Map of Rome</a></p>
            </div>

            {% if user.is_authenticated %}
                <span id="user_name"{{ user.username }}</span>
            <div id="Logout" class="tabcontent">
                <h3>Logout</h3>
                <p><a href="{% url 'logout' %}">Please Logout here.</a></p>
            </div>
            {% else %}
            <div id="Login" class="tabcontent">
                <h3>Login</h3>
                <p><a href="{% url 'login' %}">Please Login here.</a></p>
            </div>
            <div id="Register" class="tabcontent">
                <h3>Register</h3>
                <p><a href="{% url 'register' %}">Please Register here.</a></p>
            </div>
            {% endif %}
        </div>
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>

    </div>
{% endblock nav %}

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>

</body>

</html>