{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}

<style>
/*body { margin: 0; padding: 0; }
 #map { position: absolute; top: 0; bottom: 0; width: 100%; } */
</style>
</head>
<body>
<div id="backmap">
    <div id="map"></div>
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFwLXVuNjIzIiwiYSI6ImNsamFsNmhxbjBjZmUzZ25sNGVlbDV6MXEifQ.JHQ6f3lO0v427Py_snS_Qg';

    const map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [12.49723, 41.89281], // starting position [lng, lat]
        zoom: 12 // starting zoom
    });

    // Create a new marker.
    const marker = new mapboxgl.Marker({
        color: "#FFFFFF",
        draggable: false
    }).setLngLat([12.49723, 41.89281])
        .addTo(map);
</script>

{% endblock %}
