{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}

<style>
    /*.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }


    body { margin: 0; padding: 0; } code from mapbox
    #map { position: absolute; top: 50px; bottom: 50px; width: 80%; }*/
</style>


<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

{% block nav %}
{% endblock %}
<div class="topnav" id="myTopnav">
    <a href="{% url 'index' %}" class="active"><img src="static/capstone/favicon.ico"
        style="width:30px; height:30px; margin-right:10px;">Rome Travel</a>
    <!--<a href="{% url 'index' %}" class="active">Rome Travel</a>-->
    <a href="{% url 'places' %}">Reload Map of Rome</a>
    {% if user.is_authenticated %}
    <a href="{% url 'favorites' %}">Favorites</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>


<div id="backmap">
    <div id="map"></div>
</div>

<script>
    // my apikey
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFwLXVuNjIzIiwiYSI6ImNsamFsNmhxbjBjZmUzZ25sNGVlbDV6MXEifQ.JHQ6f3lO0v427Py_snS_Qg';

   const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [12.49723, 41.89281], // Rome starting position [lng, lat]
        zoom: 12 // starting zoom
    });

    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'places', (e) => {
        // Copy coordinates array.
        const coordinates = e.features[0].geometry.coordinates.slice();
        const description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
    });

    map.on('load', () => {
        // Add an image to use as a custom marker
        map.loadImage(
            'https://ricozl-fantastic-zebra-7x6j7wp9p9fxg94-8000.app.github.dev/static/capstone/mapbox-marker-icon-20px-green.png',

            //'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
            (error, image) => {
                if (error) throw error;
                map.addImage('marker2', image)

                map.addSource('places', {
                // This GeoJSON contains features that include an "icon"
                // property. The value of the "icon" property corresponds
                // to an image in the Mapbox Streets style's sprite.
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Trevi Fountain</strong><p>Visit the Trevi Fountain where a coin tossed over your shoulder will guarantee your return to Rome.</p><a href="https://www.archeoroma.org/sites/trevi-fountain/" target="_blank" title="Opens in a new window" id="#pic">For more about the Trevi Fountain.</a>',
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.483239912221268, 41.90110677437803]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>The Pantheon</strong><p>Built during Ancient Rome, the Pantheon sits in a lively square with cafes all around.</p><a href="https://www.pantheonroma.com/home-eng/" target="_blank" title="Opens in a new window" id="#pic">For more about the Pantheon</a>',
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.476883623407923, 41.89882638667701]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>The Arch of Septimius Severus</strong><p>The striking triumphal Arch of Septimius Severus, located at the western end of the Roman Forum</p><a href="https://www.romawonder.com/arch-septimius-severus-roman-forum-rome-italy/" target="_blank" title="Opens in a new window" id="#pic">For more about the Arch of Septimius Severus</a>',
                               },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.4821638, 41.8928872]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Piazza Navona</strong><p>The Piazza Navona is a favorite place for both Romans and visitors to sit and watch the world go by.</p><a href="https://www.archeoroma.org/sites/piazza-navona/" target="_blank" title="Opens in a new window" id="#pic">For more about the Piazza Navona</a>',
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.482314462326206, 41.905896737858676]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Vittorio Emmanuele Monument</strong><p>Feeling dandy? Get fancy, grab your bike, and take part in this year\'s <a href="http://dandiesandquaintrelles.com/2012/04/the-seersucker-social-is-set-for-june-9th-save-the-date-and-start-planning-your-look/" target="_blank" title="Opens in a new window">Seersucker Social</a> bike ride from Dandies and Quaintrelles. After the ride enjoy a lawn party at Hillwood with jazz, cocktails, paper hat-making, and more. 11:00-7:00 p.m.</p>',
                                    //'iconSize': [30, 30]
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.4818055, 41.8945229]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Testaccio Market</strong><p>The popular local food market with food stalls and a central seating area is popular with locals and visitors alike</p> <a href="http://www.mercatoditestaccio.it" target="_blank" title="Opens in a new window">More info on Testaccio Market.</a>',
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.4712652, 41.8776885]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Basilica of Santa Maria in Trastevere</strong><p>Known for vibrant and beautiful mosaics</p> <a href="http://www.santamariaintrastevere.it" target="_blank" title="Opens in a new window">More infor about Santa Maria in Trastevere</a> plays the <a href="http://www.blackcatdc.com">Black Cat</a> (1811 14th Street NW) tonight with <a href="http://www.exitclov.com" target="_blank" title="Opens in a new window">Exit Clov</a> and <a href="http://godsilla.bandcamp.com" target="_blank" title="Opens in a new window">',
                                    //'iconSize': [30, 30]
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.497543508066062, 41.88954233109117]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Basilica di Santa Maria in Trastevere</strong><p>The Arlington Players\' production of Stephen Sondheim\'s  <a href="http://www.thearlingtonplayers.org/drupal-6.20/node/4661/show" target="_blank" title="Opens in a new window"><em>A Little Night Music</em></a> comes to the Kogod Cradle at The Mead Center for American Theater (1101 6th Street SW) this weekend and next. 8:00 p.m.</p>',
                                    //'iconSize': [30, 30]
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.46965961423719, 41.8894937098454]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Gelateria del Teatro</strong><p><a href="https://www.gelateriadelteatro.it/gdt_en/" target="_blank">Gelateria del Teatro</a> has fresh, artisanal flavors of gelaterie and is located next to the stairs to the theater.</p>',
                                    //'iconSize': [30, 30]
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.466340367584765, 41.90328675682885]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Colosseum</strong><p>The Colosseum (Flavian Amphitheater) is surely the most famous monument of Rome, so much so that it has come to represent the city itself, as well as the glories of the Roman Empire.</p><a href="https://www.archeoroma.org/sites/colosseum/" target="_blank" title="Opens in a new window" id="#pic">For more about the Colosseum</a>',
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.492230894572035, 41.89042581503916]
                                }
                            },
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                        '<strong>Giolitti Gelateria</strong><p>A traditional gelateria that has delighted Italians and visitors for many years.</p><a href="https://www.giolitti.it" target="_blank" title="Opens in a new window" id="#pic">For more about Giolitti Gelateria.</a>',
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [12.4746044, 41.9011059]
                                }
                            },
                        ]
                    }
                });

                // Add a layer showing the places.
                map.addLayer({
                    'id': 'places',
                    'type': 'symbol',
                    'source': 'places',
                    'layout': {
                        'icon-image': 'marker2',
                        'icon-size': 1,
                        'icon-allow-overlap': true,
                    },

                });

            });

        // Change the cursor to a pointer when the mouse is over the places layer.
        map.on('mouseenter', 'places', () => {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'places', () => {
            map.getCanvas().style.cursor = '';
        });
    });


</script>


{% endblock %}


