{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}

<style>
    .marker {
        display: block;
        border: none;
        color: blue;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
</style>

<body>
<div id="backmap">
    <div id="map"></div>
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFwLXVuNjIzIiwiYSI6ImNsamFsNmhxbjBjZmUzZ25sNGVlbDV6MXEifQ.JHQ6f3lO0v427Py_snS_Qg';

    //const map = new mapboxgl.Map({
        //container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        //style: 'mapbox://styles/mapbox/streets-v12', // style URL
        //center: [12.49723, 41.89281], // starting position [lng, lat]
        //zoom: 12 // starting zoom
    //});

    // Create a new marker.
    //const marker = new mapboxgl.Marker({
        //color: "#FFFFFF",
        //draggable: false
    //}).setLngLat([12.49723, 41.89281])
        //.addTo(map);



//<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

	//mapboxgl.accessToken = 'pk.eyJ1IjoibWFwLXVuNjIzIiwiYSI6ImNsajk1bmtuajB6bWQzbW81dXQxc2V3ZmsifQ.pHR1ndWInokMfvttpqGnag';
    map.on('load', () => {
        map.addSource('places', {
    // This GeoJSON contains features that include an "icon"
    // property. The value of the "icon" property corresponds
    // to an image in the Mapbox Streets style's sprite.
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
            {
                'type': 'Feature',
                'properties': {
                    'message': 'Foo',
                    'iconSize': [60, 60]
                },
                'geometry': {
                    'type': 'Point',
                    'coordinates': [12.48312, 41.90395]
                }
            },
            {
                'type': 'Feature',
                'properties': {
                    'message': 'Bar',
                    'iconSize': [50, 50]
                },
                'geometry': {
                    'type': 'Point',
                    'coordinates': [12.47654, 41.89990]
                }
            },
            {
                'type': 'Feature',
                'properties': {
                    'message': 'Baz',
                    'iconSize': [40, 40]
                },
                'geometry': {
                    'type': 'Point',
                    'coordinates': [12.48495, 41.89420]
                }
            }
        ]
    };

    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [12.49723, 41.89281], // starting position [lng, lat]
        zoom: 12
    });

    // Add markers to the map.
    for (const marker of geojson.features) {
        // Create a DOM element for each marker.
        const el = document.createElement('div');
        const width = marker.properties.iconSize[0];
        const height = marker.properties.iconSize[1];
        el.className = 'marker';
        //el.style.backgroundImage = `url(https://placekitten.com/g/${width}/${height}/)`;
        el.style.backgroundImage = `url('mapbox:/sprites/mapbox-marker-icon-20px-blue.png/g/${width}/${height}/)`;
        el.style.width = `${width}px`;
        el.style.height = `${height}px`;
        el.style.backgroundSize = '100%';

        el.addEventListener('click', () => {
            window.alert(marker.properties.message);
        });

        // Add markers to the map.
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .addTo(map);
    }
</script>

{% endblock %}
