{% extends "capstone/layout.html" %}

{% block body %}
{% block nav %}
{% endblock %}

<div class="topnav" id="myTopnav">
    <a href="{% url 'index' %}" class="active"><img src="static/capstone/favicon.ico"
        style="width:30px; height:30px; margin-right:10px;">Rome Travel</a>

    <a href="{% url 'places' %}">Map of Rome</a>
    {% if user.is_authenticated %}
    <a href="{% url 'favorites' %}">Favorites</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>


<h3 style="margin:10px;">Quiz for Rome Travel</h3>


<!-- code for react -->


<div id="app"></div>

<script type="text/babel">
    function App() {
        const questions = [
            {
                questionText: "What is the capital of France?",
                answerOptions: [
                    { answerText: 'New York', isCorrect: false},
                    { answerText: 'London', isCorrect: false },
                    { answerText: 'Paris', isCorrect: true },
                    { answerText: 'Dublin', isCorrect: false }
                ],

            },
            {
                questionText: 'Who is CEO of Tesla?',
                answerOptions: [
                    { answerText: 'Jeff Bezos', isCorrect: false },
                    { answerText: 'Elon Musk', isCorrect: true },
                    { answerText: 'Bill Gates', isCorrect: false },
                    { answerText: 'Tony Stark', isCorrect: false }
                ],
            },
        ];


        const [currentQuestion, setCurrentQuestion] = React.useState(0);

        const [showScore, setShowScore] = React.useState(false);

        const [score, setScore] = React.useState(0);

        function addTodo (e) {
            setScore(score + 1);
            }
            const nextQuestion = currentQuestion + 1;
            if (nextQuestion < questions.length) {
                setCurrentQuestion[nextQuestion]
            } else {
            setShowScore(true);
            }
         };

        function handleClick (e) {
            const nextQuestion = currentQuestion + 1;
            if (nextQuestion < questions.length) {
                setCurrentQuestion[nextQuestion]
            } else {
            setShowScore(true);
            }
        };

        return (
            <div className ="app">
                <div className='score-section'>You scored {score} out of {questions.length}</div>

                <div>
                    <div className='question-section'>
                        <div className='question-count'>
                            <span>Question {currentQuestion + 1}</span>/{questions.length}

                        </div>

                        <div className='question-text'>
                            <p>{questions[currentQuestion].questionText}</p>

                        </div>
                    </div>
                    <div className='answer-section'>
                        {questions[currentQuestion].answerOptions.map((answerOption) => (
                            <button onClick = {e => if ({answerOption.isCorrect} === true) ? AddtoDo(e) : handleClick(e)})


                                {
                                    setScore(score + 1);
                                }
                                const nextQuestion = currentQuestion + 1;
                                if (nextQuestion < questions.length) {
                                    setCurrentQuestion[nextQuestion]
                                } else {
                                    setShowScore(true);
                                }
                            }
                        ))}
                    </div>
                </div>



            </div>
        );
    };
    ReactDOM.render(<App />, document.querySelector("#app"));
</script>

{% endblock %}

