{% extends "capstone/layout.html" %}

{% block body %}
{% block nav %}
{% endblock %}


<div class="topnav" id="myTopnav">
    <a href="{% url 'index' %}" class="active"><img src="static/capstone/favicon.ico"
        style="width:30px; height:30px; margin-right:10px;">Rome Travel</a>

    <a href="{% url 'places' %}">Map of Rome</a>
    {% if user.is_authenticated %}
    <a href="{% url 'favorites' %}">Favorites</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>


<h3 style="margin:10px;">Quiz for Rome Travel</h3>


<!-- code for react -->

<div id="app"></div>

<script type="text/babel">

  function App() {

    //const finalquestions = [
            //{
                //id: 0,
                //questionText: "What is cacio et Pepe?",
                //answerOptions: [
                    //{ answerText: 'Italian football (soccer) and Pete.', isCorrect: false},
                    //{ answerText: 'Pecorino Romano and pepper sauce for pasta.', isCorrect: true },
                    //{ answerText: 'Calcium and Vitamin B pills popular with Roman men.', isCorrect: false },
                    //{ answerText: 'The main ingredients of Roman concrete.', isCorrect: false }
                //],

            //},
            //{
                //id: 1,
                //questionText: 'The Colosseum is called that because?',
                //answerOptions: [
                    //{ answerText: 'It is the Greek name for amphitheater.', isCorrect: false },
                    //{ answerText: "It is built on the site of Emperor Nero's front yard.", isCorrect: false },
                    //{ answerText: 'It is built on the site of a colossal statue of Emperor Nero.', isCorrect: true },
                    //{ answerText: 'collo means hill in Italian and it is built on a hill.', isCorrect: false }
                //],
            //},
            //{
                //id: 2,
                //questionText: 'In classical architecture, Romans invented?',
                //answerOptions: [
                    //{ answerText: 'The Arch.', isCorrect: false },
                    //{ answerText: 'Concrete buildings.', isCorrect: false },
                    //{ answerText: 'Long, straight roads.', isCorrect: false },
                    //{ answerText: 'All of the above.', isCorrect: true }
                //],
            //},
            //{
                //id: 3,
                //questionText: 'Traditional Roman food is largely composed of?',
                //answerOptions: [
                    //{ answerText: 'Guts.', isCorrect: true },
                    //{ answerText: 'Steaks.', isCorrect: false },
                    //{ answerText: 'Beans.', isCorrect: false },
                    //{ answerText: 'Pasta and tomato sauce.', isCorrect: false }
                //],
            //},
            //{
                //id: 4,
                //questionText: 'One hundred years ago, Romans avoided artichokes and eggplants because?',
                //answerOptions: [
                    //{ answerText: 'They were poisonous.', isCorrect: false },
                    //{ answerText: 'They were from America.', isCorrect: false },
                    //{ answerText: 'They were Jewish.', isCorrect: true },
                    //{ answerText: 'They were expensive.', isCorrect: false }
                //],
            //},
        //];

    const questions = [
      "What is cacio et Pepe?",
      'The Colosseum is called that because?',
      'In classical architecture, Romans invented?',
      'Traditional Roman food is largely composed of?',
      'One hundred years ago, Romans avoided artichokes and eggplants because?'
    ]


    const [state, setState] = React.useState({
      response: "",
      score: 0,
      incorrect: false
    })

    const [currentQuestion, setCurrentQuestion] = React.useState(0);



    //const wchques = questions.filter(questions =>
      //questions.id === currentQuestion,
      //console.log(currentQuestion),
      //console.log(questions.id)
    //);

    //const curques = wchques.map(question =>
      //<li>{question.text}</li>
    //);
    //return <ul>{{curques}}</ul>;

    //const listques = questions.map(question =>
        //<li>{{question}}</li>
    //);

    //const whichques = listques.filter
    //return <ul>{listques}</ul>;


    const handleAnswerButton = (isCorrect) => {
            if(isCorrect === true) {
                setState({
                  ...state,
                  score: state.score + 1
                })
            }
            const nextQuestion = currentQuestion + 1;
            if (nextQuestion < questions.length) {
                setCurrentQuestion[nextQuestion]
            }

        };

    function List(props) {
      const listItems = props.map(id =>
        <li key="id">{questionText}</li>
    );
      return <ul>{listItems}</ul>;
    }

    function Question (currentQuestion) {
      <div>
        <div className='question-text'>Question: [{questions.map}]</div>
        <div className='answer-section'>
            const answers = {questions[currentQuestion].answerOptions.map[(answerOptions) => (
                <li>
                  {answers}
                </li>
            )]}
        </div>
      </div>
    };

    function inputKeyPress(event) {
      if (event.key === "Enter") {
        const answer = parseInt(state.response);
        if (questions[currentQuestion].answerOptions(answer) ? "iscorrect" : "") {
          // user got right
          setState({
            ...state,
            currentQuestion: currentQuestion + 1,
            score: state.score + 1,
            response: "",
            incorrect: false
          });
        } else {
          //user got wrong
          setState({
            ...state,
            response: "",
            incorrect: true
          });
        }
      }
    }

    function updateResponse(event) {
      setState({
        ...state,
        response: event.target.value
      })
    }

    if (state.score === 10) {
      return (
        <div id="winner">
          You Won!
        </div>
      )
    };

    function Listques() {
      const listques = questions.map(question =>
        <li>{question}</li>);
    };


    return (
      <div>
        <div className='question-text'>{questions[currentQuestion]}</div>

        <input autoFocus={true} onKeyPress={inputKeyPress} onChange={updateResponse} value={state.response} />
        <div>Score: {state.score}</div>
      </div>
      );
  };


    ReactDOM.render(
        <App />,
        document.querySelector("#app"));
</script>

{% endblock %}

