{% extends "capstone/layout.html" %}

{% block body %}
<div id="form-page">
    <h2>Register</h2>

    {% if message %}
        <div style="margin:20px;">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required minlength="5" maxlength="10">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required pattern="regex = “^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8, 20}$”>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    <br>
</div>
{% endblock %}