{% extends "capstone/layout.html" %}

{% block body %}
<div id="form-page">
    <h2>Register</h2>

    {% if message %}
        <div style="margin:20px;">{{ message }}</div>
    {% endif %}

    <!-- Form validation is used to help User enter data in the correct format -->
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    <br>
</div>
{% endblock %}